*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.hero-bg,
.choose-us-bg,
.spain-bg,
.spain-bg-2,
.tourists-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
}

.pseudo-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.31em;
}

.search-btn {
    padding-bottom: 15px;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;

    @include media (">=576px") {
        padding: 0;
    }
}

.slider {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}